.match-outcome { 
	margin: 0 auto; 
	padding: 6rem 0 2.5rem;
}

.tabs {
	position: relative;
	min-height: 733px;
	display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
	overflow: hidden;
}

.tab {
	margin-right: 31px;
}

.tab label {
	display: block;
	box-sizing: border-box;
	height: 32px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: 0em;
	text-align: center;
	cursor: pointer;
	color: #7B7454;
}

.tab-content {
	position: absolute;
	left: 0; 
    bottom: 0; 
    right: 0;
	top: 30px;
    padding-top: 1rem;
    opacity: 0;
    transform: scaleX(0);
	border-top: 2px solid #DEDDE6;
	z-index: -1;
}

.tab [type=radio] { 
  display: none; 
}

.switcher:checked ~ label {
  border-bottom: 2px solid #7B7454;
}

.switcher:checked ~ .tab-content {
	opacity: 1;
	transform: scaleX(1);
	z-index: 1;
}


@media screen and (max-width: 767px) {
	.tabs {
    min-height: 300px;
  }
}

@media screen and (max-width: 480px) {
	.tabs {
    min-height: 280px;
  }
}