.news{
    position: relative;
    margin-top: 40px;
    &__title{
        line-height: 50px;
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        color: #000;
        margin-bottom: 5px;
    }
    &__subtitle{
        line-height: 50px;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: #2D3748;
    }
}

.buttonGroup{
    margin: 48px 0;
    display: flex;
    justify-content: flex-end;
    
    .btn{
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid #003CFF;
        background-color:#ffffff;
        stroke: #000000;
        margin-left: 20px;
        &:hover{
            background-color:#003CFF;
            stroke: #ffffff;
        }
        
        &__left{
            transform: rotate(180deg);
        }
    }
}
  
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.carousel {
    margin-top: 46px;
    display: flex;
    align-items: center;

    &__slides {
    display: flex;
    overflow: hidden;
    width: 100%;
    transition: transform 0.5s ease-in-out;
        a{
            text-decoration: none;
        }

    }

    .slide{
        transition: transform 0.5s ease;
        margin: 10px 30px;
        width: 256px;
        height: 400px;
        padding: 32px;
        color: #000;
        background-color: #fff;
        border-radius: 28px;
        -webkit-box-shadow: 0px 0px 4px 1px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 0px 4px 1px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 0px 4px 1px rgba(34, 60, 80, 0.2);
        transition: transform 0.5s ease;
        &__img{
            width: 256px;
            height: 120px;
            img{
                width: 100%; 
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                object-position: center;
            }
        }
        
        &__title{
            margin: 32px 0;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            -webkit-line-clamp: 4;
            display: -webkit-box; 
            -webkit-box-orient: vertical; 
            overflow: hidden;
        }
        
        &__desc{
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            -webkit-line-clamp: 4; 
            display: -webkit-box; 
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        &__enter {
            transform: translateX(100%);
        }
        
        &__exit {
            transform: translateX(-100%);
        }
    }
}
